@using uTPro.Extension.CurrentSite
@model uTPro.Feature.SimpleForm.Models.FormViewModel
@inject ICurrentSiteExtension CurrentSite
@{
    var formId = "sf-" + Model.Alias;
    var cssClass = ViewBag.FormCssClass as string ?? "";
    var btnText = ViewBag.SubmitBtnText as string ?? "SEND";
    var showReset = ViewBag.ShowReset as bool? ?? true;
    var resetText = ViewBag.ResetBtnText as string ?? "RESET";
}


<form id="@formId" class="sf @cssClass" novalidate
      data-alias="@Model.Alias"
      data-redirect="@(Model.RedirectUrl ?? "")"
      data-btn-text="@btnText">
    <input type="hidden" name="__alias" value="@Model.Alias" />

    <div class="row">
        @foreach (var field in Model.Fields.OrderBy(f => f.SortOrder))
        {
            if (field.IsHidden) { continue; }

            var fieldCss = field.CssClass ?? "";

            <div class="@fieldCss">
                @{
                    var customPartial = $"~/Views/Partials/SimpleForm/Fields/{field.Type}.cshtml";
                    var fallbackPartial = "~/Views/Partials/SimpleForm/Fields/_Default.cshtml";
                }
                @if (System.IO.File.Exists(
                    System.IO.Path.Combine(
                        ViewContext.HttpContext.RequestServices
                            .GetRequiredService<Microsoft.AspNetCore.Hosting.IWebHostEnvironment>()
                            .ContentRootPath,
                        customPartial.Replace("~/", "").Replace("/", System.IO.Path.DirectorySeparatorChar.ToString()))))
                {
                    @await Html.PartialAsync(customPartial, field, new ViewDataDictionary(ViewData) { { "FormId", formId }, { "CurrentSite", CurrentSite } })
                }
                else
                {
                    @await Html.PartialAsync(fallbackPartial, field, new ViewDataDictionary(ViewData) { { "FormId", formId }, { "CurrentSite", CurrentSite } })
                }
            </div>
        }

        <div class="col-12">
            <ul class="actions">
                <li><button type="submit" class="style1">@btnText</button></li>
                @if (showReset)
                {
                    <li><button type="reset" class="style2">@resetText</button></li>
                }
            </ul>
        </div>
    </div>
    <div class="sf-message" style="display:none;"></div>
</form>

<link rel="stylesheet" href="~/css/simple-form.css" />
<script src="~/js/simple-form.js"></script>
