@model uTPro.Feature.SimpleForm.Models.FormFieldViewModel
@{
    var formId = ViewData["FormId"] as string ?? "sf";
    var fieldId = formId + "-" + Model.Name;
}

<label>
    @Model.Label
    @if (Model.Required) { <span class="sf-required">*</span> }
</label>
<div class="sf-options">
    @if (Model.Options != null)
    {
        @foreach (var opt in Model.Options)
        {
            var radioId = fieldId + "-" + opt.Value;
            var isChecked = opt.Value == Model.DefaultValue;
            <label class="sf-option">
                <input type="radio" id="@radioId" name="@Model.Name" value="@opt.Value"
                       checked="@isChecked" @(Model.Required ? "required" : "") />
                @opt.Text
            </label>
        }
    }
</div>
<span class="sf-error" data-for="@Model.Name"></span>
