@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<UTpro__Article>>
@{
}
<div class="wrapper style2">
    @if (!string.IsNullOrEmpty(Model.Content.Title))
    {
        <div class="title">@Model.Content.Title</div>
    }
    <div class="container">

        <!-- Content -->
        <div class="content">
            <article class="box post">
                <header class="style1">
                    @if (!string.IsNullOrEmpty(Model.Content.Header))
                    {
                        <h2>@Model.Content.Header</h2>
                    }
                    @if (!string.IsNullOrEmpty(Model.Content.Description))
                    {
                        <p>@Model.Content.Description</p>
                    }
                </header>
                @if (Model.Content.Thumbnail != null)
                {
                    <div class="image featured">
                        <img src="@Model.Content.Thumbnail.Url()" alt="@Model.Content.Title" />
                    </div>
                }
                @if (Model.Content.Content != null)
                {
                    @await Html.GetBlockListHtmlAsync(Model.Content.Content, CurrentSite.GetItem().Root.Name)
                }
            </article>
        </div>

    </div>
</div>