@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<UTpro__ContactForm>>
@{
}

@if (Context.Request.IsBlockPreviewRequest())
{
    <link rel="stylesheet" href="~/css/@CurrentSite.GetItem().Root.Name/Components/ContactForm.css" />
}
else
{
    @using (Html.SetSection(Model.GetType().ToString(), HtmlSectionBlockExtensions.Position.BodyBottom))
    {
        <link rel="stylesheet" href="~/css/@CurrentSite.GetItem().Root.Name/Components/ContactForm.css" />
    }
}
<section class="container contactform">
    <div class="row">
        <div class="col-6 col-12-medium">

            <!-- Contact Form -->
            <section>
                <form method="post" action="#">
                    <div class="row gtr-50">
                        <div class="col-6 col-12-small">
                            <input type="text" name="name" id="contact-name" placeholder="Name">
                        </div>
                        <div class="col-6 col-12-small">
                            <input type="text" name="email" id="contact-email" placeholder="Email">
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" class="style1" value="Send"></li>
                                <li><input type="reset" class="style2" value="Reset"></li>
                            </ul>
                        </div>
                    </div>
                </form>
                @await Html.PartialAsync("FormView", "Contact Form")
            </section>

        </div>
        <div class="col-6 col-12-medium">

            <!-- Contact -->
            <section class="feature-list small">
                <div class="row">
                    <div class="col-6 col-12-small">
                        <section>
                            <h3 class="icon solid fa-home">Address</h3>
                            <div class="paragraph p0">
                                @Model.Content.Address
                            </div>
                        </section>
                    </div>
                    <div class="col-6 col-12-small">
                        <section>
                            <h3 class="icon solid fa-comment">Social</h3>
                            <div class="paragraph p0">
                                @if (Model.Content.Social != null)
                                {
                                    foreach (var item in Model.Content.Social.ToList())
                                    {
                                        <p>
                                            <a target="@item.Target" href="@item.Url">@item.Name</a>
                                        </p>
                                    }
                                }
                            </div>
                        </section>
                    </div>
                    <div class="col-6 col-12-small">
                        <section>
                            <h3 class="icon solid fa-envelope">Email</h3>
                            @if (Model.Content.Email != null)
                            {
                                foreach (var item in Model.Content.Email.ToList())
                                {
                                    <p>
                                        <a target="@item.Target" href="@item.Url">@item.Name</a>
                                    </p>
                                }
                            }
                        </section>
                    </div>
                    <div class="col-6 col-12-small">
                        <section>
                            <h3 class="icon solid fa-phone">Phone</h3>
                            @if (Model.Content.Phone != null)
                            {
                                foreach (var item in Model.Content.Phone.ToList())
                                {
                                    <p>
                                        <a target="@item.Target" href="@item.Url">@item.Name</a>
                                    </p>
                                }
                            }
                        </section>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>