@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<UTpro__Endorsements>>
@{
}
@if (Context.Request.IsBlockPreviewRequest())
{
    <link rel="stylesheet" href="~/css/@CurrentSite.GetItem().Root.Name/Components/Endorsements.css" />
}
else
{
    @using (Html.SetSection(Model.GetType().ToString() + "", HtmlSectionBlockExtensions.Position.BodyBottom))
    {
        <link rel="stylesheet" href="~/css/@CurrentSite.GetItem().Root.Name/Components/Endorsements.css" />
    }
}
<div class="highlights container">
    @if (!string.IsNullOrEmpty(@Model.Content.Title))
    {
        <header class="style1">
            <h2>@Model.Content.Title</h2>
        </header>
    }

    @if (Model.Content.Highlight != null && Model.Content.Highlight.Any())
    {
        <div class="row aln-center">
            @foreach (var item in Model.Content.Highlight)
            {
                var content = item.Content as UTpro__Endorsements__Highlight;
                if (content != null)
                {
                    <div class="col-4 col-12-medium">
                        <section class="highlight">
                            <a href="@content.Link?.Url" target="_blank" class="image featured"><img src="@content.Image?.Url()" alt="@content.Title" /></a>
                            <h3><a href="@content.Link?.Url" target="_blank">@content.Title</a></h3>
                            <p>@content.Description</p>
                            <ul class="actions">
                                <li><a href="@content.Link?.Url" target="_blank" class="button style3">Learn More</a></li>
                            </ul>
                        </section>
                    </div>
                }
            }
        </div>
    }
</div>
